<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5a5cb44b-08b0-41fb-bf32-c095353faf5c/resourcegroups/SEA_MaerskLine/providers/Microsoft.Web/sites/DDACMaerkLine20170705045729</ResourceId>
    <ResourceGroup>SEA_MaerskLine</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddacmaerkline20170705045729.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddacmaerkline20170705045729.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDACMaerkLine20170705045729</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDACMaerkLine20170705045729</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>yapyangytyhotmail.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DDACMaerkLine20170705045729_dbConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=ddacmaerkline20170705045729dbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;Persist Security Info=True;User ID=adminmaerskline;Password=Abcd12345" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ddacmaerkline20170705045729dbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;Persist Security Info=True;User ID=adminmaerskline;Password=Abcd12345" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DDACMaerkLine20170705045729_dbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ddacmaerkline20170705045729dbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;Persist Security Info=True;User ID=adminmaerskline;Password=Abcd12345" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=ddacmaerkline20170705045729dbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;User ID=adminmaerskline;Password=Abcd12345" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DDAC_MaerkLine-20170705021325.mdf;Initial Catalog=aspnet-DDAC_MaerkLine-20170705021325;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DDAC_MaerkLine-20170705021325.mdf;Initial Catalog=aspnet-DDAC_MaerkLine-20170705021325;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://yapyangytyhotmail.onmicrosoft.com/WebApp-ddacmaerkline20170705045729.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>e56584d3-1a5d-4492-b74e-5668e3104463</ADClientAPPID>
    <ADClientPassword>ZC354FGYem44VIm7roDekIi2Zp96qOfkM7lecvynizA=</ADClientPassword>
    <ADReplyUrl>https://ddacmaerkline20170705045729.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>7adb64b8-8b47-4685-8c27-fb284fccf120</ADTenantId>
    <ADPostLogoutRedirectUri>https://ddacmaerkline20170705045729.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DDACMaerkLine20170705045729_dbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=ddacmaerkline20170705045729dbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;Persist Security Info=True;User ID=adminmaerskline;Password=Abcd12345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ddacmaerkline20170705045729dbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;User ID=adminmaerskline;Password=Abcd12345</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>