<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5a5cb44b-08b0-41fb-bf32-c095353faf5c/resourcegroups/USWest_MaerskLine/providers/Microsoft.Web/sites/DDACMaerskLineRegionUSW</ResourceId>
    <ResourceGroup>USWest_MaerskLine</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddacmaersklineregionusw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddacmaersklineregionusw.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDACMaerskLineRegionUSW</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDACMaerskLineRegionUSW</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>yapyangytyhotmail.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=ddacmaersklineregionuswdbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;Persist Security Info=True;User ID=adminmaersklineus;Password=Abcd12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DDAC_MaerskLineRegion2.Models.ApplicationDbContext, DDAC_MaerskLineRegion2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://yapyangytyhotmail.onmicrosoft.com/WebApp-ddacmaersklineregionusw.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>a0293189-b2ab-4113-8fb6-ccd03fceaefc</ADClientAPPID>
    <ADClientPassword>Ihm2BrHOw3U7C8f92ZjgClSHPfGZHr5F4c7YgLbwubw=</ADClientPassword>
    <ADReplyUrl>https://ddacmaersklineregionusw.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>7adb64b8-8b47-4685-8c27-fb284fccf120</ADTenantId>
    <ADPostLogoutRedirectUri>https://ddacmaersklineregionusw.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ddacmaersklineregionuswdbserver.database.windows.net;Initial Catalog=DDACMaerkLine20170705045729_db;Persist Security Info=True;User ID=adminmaersklineus;Password=Abcd12345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ddacmaersklineregionuswdbserver.database.windows.net;User ID=adminmaersklineus;Password=Abcd12345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ddacmaersklineregionuswdbserver.database.windows.net;User ID=adminmaersklineus;Password=Abcd12345</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>